.idea

/bitrix

!/bitrix/php_interface
/bitrix/php_interface/dbconn.php

!/bitrix/templates

/upload

/cgi-bin
/awstats*
/var
/etc
/log
*.config

yandex_*.html
google*.html
wmail*.html
sitemap*.xml

restore.php

*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.csv
*.DS_Store
*.tar.*

test*

.htaccess*
.htsecure*

*.bak.*
*_bak.*